.header2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    height:3rem;
    align-items: center;
    padding: .5rem 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0rem;
    z-index: 1;
}

.icon2 {
    font-size: 2rem;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.icon-container p {
    margin-top: 1.5rem;
}

.search-hide{
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    gap: 1rem;
    border-radius: 10px;
    height: 2rem;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.search-hide input{
    height: 2rem;
    width: 15rem;
    font-size: .7rem;
    margin-bottom: 2rem;
}

.search-icon2{
    position: relative;
    top: 2.8rem;
    right: .8rem;
}

.search-bar {
    padding: 0 .3rem;
    border-radius: .5rem;
}

.icon3 {
    margin-top: .2rem;
    margin-right: 10rem;
}

#hamburger{
    height: 8rem;
    width: 13rem;
    background-color: white;
    position: fixed;
    z-index: 2;
    right: 8rem;
    top: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 10px;
}

.icon2:hover{
    background-color: rgb(207, 200, 200);
    border-radius: 5px;
    cursor: pointer;
}

.mt:hover{
    color: blue;
}

.effect{
    background-color: rgb(207, 200, 200);
    border-radius: 5px;
}



@media (max-width: 820px) {
    .txt-hide{display: none;}

    .search-hide{display: none;}
}